.heading {
    font-family: 'Ralaway', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
}

.buscador {
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: left;
}

.btn_block {
    width: 100%;
}